html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
header {
    margin: 0 auto;
    width: 100%;
    height: 75px;
    background-color:#358962;
    display: inline-block;
}
.logo {
    width: 25%;
    background-color: transparent;
}
#logo_position {
    margin-top: 23px;
    margin-left: 15px;
}
.menu {
    margin: 0 auto;
    width: 48%;
    background-color: transparent;
    font-size: 15px;
    margin-left: 30%;
}
#menu_position {
    width: 100%;
    height: 40px;
    list-style: none;;
    margin-top: -46px;
    font-weight: bolder;
}
#menu_position li {
    position: relative;
    float: left;
    padding-top: 16px;

}
#menu_position li a{
    color:#fff; 
    text-align: center;
    text-decoration:none; 
    padding: 29px 20px 28px 20px;
}
#menu_position li a:hover{
    cursor: pointer;
    background-color: #5CB089;
}
.pessoal {
    margin: 0 auto;
    width: 25%;
    height: 75px;
    margin-top: -3%;
    margin-right: 0%;
    float: right;
    background-color: transparent;
}
#pessoa_position {
    padding-top: 3%;
    padding-right: 9%;
    float: right;
}
#lupa_position {
    padding-top: 5%;
    padding-right: 11%;
    float: right;
}
#carrinho_position {
    padding-top: 4%;
    padding-right: 15px;
    float: right;
}
main {
    width: 100%;
    height: 100%;
}
.secao1 {
    margin: 0 auto;
    width: 100%;
    height: 70%;
    background: url("../Images/fundo2.jpg");
    letter-spacing: 1px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text1 {
    position: absolute;
    top: 32%;
    left: 14%;
    width: 35%;
    height: 40%;
    background-color: transparent;
    color: #fff;
    line-height: 215%;
}
h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 55px;
}
.paragrafo1 {
    font-size: 23px;
    letter-spacing: normal;
}
.form {
    margin: 0 auto;
    margin-right: 14%;
    margin-top: 2.6%;
    float: right;
    width: 25%;
    height: 85%;
    background-color: rgba(0, 0, 0, 0.50);
    border-radius: 10px;
}
.form_title {
    color: #DCDCDC;
    margin-left: 14%;
    text-align: left;
    font-size: 28px;
    word-spacing: 2px;
    margin: 5.5% 0 5% 14%;
}
.block{
    width: 72%;
    height: 50px;
    margin: 0 0 5% 14%;
    padding-left: 5%;
    border-radius: 12px;
    border-color: transparent;
    font-size: 15px;
    background-color: #DCDCDC;
}
.block2{
    width: 72%;
    height: 100px;
    margin: 0 0 5% 14%;
    padding-left: 5%;
    border-radius: 12px;
    border-color: transparent;
    font-size: 15px;
    background-color: #DCDCDC;
}
.checkbox{
    margin: 0 0 5% 14%;
}
.label {
    color: #969696;
    font-size: 13px;
}
.button{
    width: 72%;
    height: 50px;
    margin: 0 10% 0 14%;
    border-radius: 12px;
    border-color: black;
    font-size: 15px;
    font-weight: bolder;
    background-color: #DCDCDC;
    color: #4e4e4e;
}
.button:hover {
    cursor: pointer;
    background-color: rgb(32, 32, 32);
    color: #DCDCDC;
    border-color: transparent;
}
.button:focus { 
    outline-style: none; 
}
.secao2 {
    margin: 0 auto;
    margin-top: -1.4%;
    width: 100%;
    height: 75%;
    background-color: transparent;
}
.h2 {
    margin-top: 3%;
    text-align: center;
    font-size: 28px;
    word-spacing: 4px;
}
h3 {
    font-size: 20px;
}
#div1 {
    position: absolute;
    top: 96%;
    left: 7%;
    width: 25%;
    height: 40%;
    background-color: transparent;
    text-align: center;
}
#div2 {
    position: absolute;
    top: 98%;
    left: 37.5%;
    width: 25%;
    height: 45%;
    padding-top: 1.8%;
    background-color: transparent;
    text-align: center;
}
#div3 {
    position: absolute;
    top: 98%;
    right: 7%;
    width: 25%;
    height: 40%;
    background-color: transparent;
    text-align: center;
}
footer {
    margin: 0 auto;
    margin-top: 20%;
    width: 100%;
    height: 40%;
    background-color: #358962;
    text-decoration: none;
}
h4 {
    font-size: 18px;
}
.list1 {
    position: absolute;
    top: 155%;
    left: 2.5%;
    width: 20%;
    height: 35%;
    background-color: transparent;
    color: #fff;
}
.list2 {
    position: absolute;
    top: 155%;
    right: 25%;
    width: 20%;
    height: 30%;
    background-color: transparent;
    text-align: left;
    color: #fff;
    text-decoration:none;
    font-size: 17px;
}
.list3 {
    position: absolute;
    top: 155%;
    right: 5%;
    width: 20%;
    height: 30%;
    background-color: transparent;
    color: #fff;
    font-size: 17px;
}
.list4 {
    position: absolute;
    top: 155%;
    right: 2.5%;
    width: 8%;
    height: 30%;
    background-color: transparenta;
    text-align: left;
    color: #fff;
    font-size: 17px;
}